h4.card-header {
    color: white;
    background: #004225;
    display: flex;
    justify-content: space-between;
}

.transaction-delete:hover {
    color: #558A45;
    cursor: pointer;
}

h5.card-body {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    margin: 0;
    background: white;
    justify-content: space-between;
}

h6.card-footer {
    color: white;
    margin: 0;
    background: #004225;
    display: flex;
    justify-content: space-between;
}