.footerStyle {
    font-size: 10px;
    color: darkgray;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.phantomStyle {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}