@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.nav {
    background: #004225;
    height: 64px;
}

.ml-32 {
    margin-left: 32px;
}

#topBar-title {
    z-index: 1007;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    padding-top: 5px;
}

.card-title{
    color: white;
    font-size: 30px;
}

.card{
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #db3d44;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

