@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.nav {
    background: #004225;
    height: 64px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.ml-32 {
    margin-left: 32px;
}

#topBar-title {
    z-index: 1007;
    font-family: 'Lobster', sans-serif;
    font-size: 40px;
    padding-top: 5px;
}

#root > div > div.container > div:nth-child(1) > div > div {
    margin-top: 100px
}

.card-title{
    color: white;
    font-size: 30px;
}

.card{
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: #db3d44;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 375px) {
    h1 {
        margin-right: 60px;
    }
}
