@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

root{
  background-color: #F3EED9;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

h1{
  color: white;
}

.row{
  padding-left: 0px;
  padding-top: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
