@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

root{
  background-color: #F3EED9;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

h1{
  color: white;
}